<div class="card course-form ">
  <%= provide :title, t("view.supervisor.course.edit.title") %>
  <h3><%= t "view.supervisor.course.edit.title" %></h3>

  <div class="row course">
    <%= render "form" %>
  </div>
</div>
