<div class="container">
  <div class="row" id="show-subject">
    <div class="col-md-4">
      <div class="card">
        <h2 class="flow-text center-align">
          <%= @subject.name %>
        </h2>
        <span>
          <strong>
            <%= t "view.supervisor.subject.show.duration" %>
            <%= @subject.duration %>
          </strong>
        </span>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <%= render "subject_task" %>
      </div>
    </div>
  </div>
</div>
