@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
  font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  background-color: #f0f0f0;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3 {
  color: #428bca;
  text-align: center;
  margin-bottom: 0.5em;
}

.card {
  padding: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #428bca;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

header {
  background: #fff;
}

.header-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#messagebox {
  position: fixed;
  margin-left: 20px;
  left: 40%;
  top: 10px;
  z-index: 10000;
  padding: 10px;
  width: 20%;
}

.field, .task_field {
  padding-bottom: 10px;
}

.container {
  .row {
    .col-md-12 {
      h2 {
        color: blue;
        text-shadow: 2px 2px 4px #000000;
      }
    }
  }

  #show-subject {
    margin-top: 30px;

    .panel-heading {
      h2 {
        color: white;
      }
    }

    h3 {
      color: blue;
      text-shadow: 2px 2px 4px #000000;
    }

    #panel-subject-show {
      margin-left: -30px;
      box-shadow: 0px 0px 6px blue;
    }
  }
}

.course {
  padding-top: 50px;
}

.duration {
  text-align: center;
}

.form-card {
  margin-top: 1em;
}

#button-add-task {
  text-align: center;
  padding-bottom: 10px;
}

.subject-new {
  padding-bottom: 50px;
}

.task {
  padding-top: 50px;
}

.add {
  padding-left: 15px;
}

.hidden {
  display: none !important;
}

.card {
  background-color: #fff;
  padding: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#min_height {
  min-height: 350px !important;
}

.course-name, subject-name {
  padding-bottom: 1em;
}

#subject_of_course_closed {
  color: red;
}
