@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import "social-share-button";

body {
  font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  background-color: #f0f0f0;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3 {
  color: #428bca;
  text-align: center;
  margin-bottom: 0.5em;
}

.card {
  padding: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #428bca;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

header {
  background: #fff;
}

.header-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#messagebox {
  position: fixed;
  margin-left: 20px;
  left: 40%;
  top: 10px;
  z-index: 10000;
  padding: 10px;
  width: 20%;
}

.field, .task_field {
  padding-bottom: 10px;
}

.container {
  .row {
    .col-md-12 {
      h2 {
        color: blue;
        text-shadow: 2px 2px 4px #000000;
      }
    }
  }

  #show-subject {
    .panel-heading {
      h2 {
        color: white;
      }
    }
  }
}

.course {
  padding-top: 50px;
}

.duration {
  text-align: center;
}

.form-card {
  margin-top: 1em;
}

#button-add-task {
  text-align: center;
  padding-bottom: 10px;
}

.subject-new {
  padding-bottom: 50px;
}

.task {
  padding-top: 50px;
}

.add {
  padding-left: 15px;
}

.hidden {
  display: none !important;
}

.card {
  background-color: #fff;
  padding: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

#min_height {
  min-height: 350px !important;
}

.course-name, subject-name {
  padding-bottom: 1em;
}

#subject_of_course_closed {
  color: red;
}

.un_complete_tasks {
  color: red;
}

.user-subject-task {
  display: inline-block;
  margin: 0.6em;
  width: 30%;
}

.subject-name {
  padding-bottom: 50px;
}

.icon_image_social {
  width: 30px;
  height: 30px;
}

.avatar-profile {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.info-profile {
  width: 59%;
  display: inline-block;
}

.search_select {
  width: 176px;
  height: 34px;
  margin-right: 10px;
}

.width_label_search {
  width: 70px;
  height: 25px;
}

.margin_left_btn_submit {
  margin-left: 20px;
}

.activity-message {
  font-size: 0.9em;
}

.time-ago {
  font-size: 0.7em;
}

.activity-task {
  padding-bottom: 5px;
}

.course-index-header, .subject-index-header, .user-index-header{
  margin-bottom: 3em;
}

.course-form {
  padding: 3em;
}

.min-height {
  min-height: 500px;
}

.course-new-label {
  box-shadow: 5px 5px 5px #888888;
  font-size: 15px;
  margin-left: 5px;
}

.inline {
  .field_with_errors {
    display: inline-block;
  }
}

.max-with {
  max-width: 200px;
}

.index-buttons {
  margin-bottom: 1em;
  padding: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.inline-block {
  display: inline-block !important;
}
