<li><%= link_to t("view.layout.courses"), supervisor_courses_path %></li>
<li><%= link_to t("view.layout.subjects"), supervisor_subjects_path %></li>
<li><%= link_to t("view.layout.users"), supervisor_users_path %></li>
